.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
*.tsbuildinfo
.eslintcache
.prettiercache
coverage
.terragrunt-cache
.terraform.lock.hcl

storybook-static