:root {
  /* Grayscale */
  --color-g100: 255 255 255;
  --color-g300: 229 229 234;
  --color-g500: 142 142 147;
  --color-g700: 58 58 60;
  --color-g900: 28 28 30;

  /* Opaque */
  --color-o10: rgba(0, 0, 0, 0.05);
  --color-o20: rgba(0, 0, 0, 0.15);
  --color-o30: rgba(0, 0, 0, 0.3);
  --color-o40: rgba(0, 0, 0, 0.4);
  --color-oD50: rgba(0, 0, 0, 0.5);
  --color-transparent: rgba(255,255,255,0);

  /* Primary */
  --color-p300: 46 144 250;
  --color-p500: 21 112 239;
  --color-p700: 23 92 211;

  /* Standard Colours */
  --color-green: 52 199 89;
  --color-orange: 255 149 0;
  --color-pink: 255 45 85;
  --color-purple: 175 82 222;
  --color-red: 255 59 48;
  --color-yellow: 255 204 0;
  --color-blue: 0 122 255;
  --color-indigo: 88 86 214;
  --color-teal: 90 200 250;
}