@import "./colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter.ttf);
  font-display: swap;
}

* {
  line-height: normal;
}
html {
  font-family: Inter, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

#root {
  width: 100dvw;
  height: 100dvh;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100dvh;
  width: 100dvw;
  overscroll-behavior-y: none;
  font-weight: 300;

  &, & * {
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
  }

  & * {
    min-height: 0;
    min-width: 0;
  }
}

a {
  text-decoration: none;
}

label {
  user-select: none;
}